.enter_page {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 50%;
  height: 80vh;
  margin-top: 100px;
  border: 3px rgb(131, 122, 122) solid;
  border-radius: 25px;
  box-shadow: 5px 5px 3px 1px #f44d5f;
  background: black;
}
#enterpage_image_left {
  width: 50%;
  height: auto;
  align-items: center;
}
#image {
  width: auto;
  height: auto;
  border-radius: 28px;
}
#enter_page_logo {
  display: block;
  margin: 0px;
  background: #f44d5f;
  color: white;
  font-family: sans-serif;
  width: 150px;
  height: auto;
  text-align: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.5s;
}
#enter_page_logo:hover {
  width: 150px;
}
.enterpage_image_right {
  display: flex;
  flex-direction: column;
  width: 334px;
  align-items: center;
  justify-content: center;
}
#enter_link {
  width: 120px;
  height: auto;
  text-align: center;
  align-items: center;
  margin-top: 25px;
  background: green;
  padding: 10px;
  font-size: 25px;
  border-radius: 10px;
  border: 3px green solid;
  color: white;
  font-weight: bolder;
}
#enter_link {
  list-style: none;
  text-decoration: none;
  color: white;
  transition: transform 0.5s;
}
#enter_link:hover {
  transform: scale(1.25);
}
